
.title-servicios{
    font-size: 4rem;
    letter-spacing: 1px;
    padding: 20px 40px 10px;
    margin: 20px 40px 20px;
    color:black;
    position: relative;
}
.text-servicios{
    color:rgba(0, 0, 0, 0.836);
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    line-height: 30px;
    margin:10px 30px;
    padding: 10px 30px;
    font-size: 1rem;
}
.title-boxeo2{
    font-size: 4.5rem;
    margin:10px 10px 0px;
    width:40%;
    padding:20px 20px 0px;
    color:black;
}
    .p-boxeo{
        color:black;
        font-family: "Roboto", sans-serif;
        letter-spacing: 1px;
        line-height: 30px;
        font-size: 1rem;
        padding:20px;
        margin: 10px;
        text-align: justify;
    }

.box-recreativo{
    background-image:linear-gradient(rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.452) ), url(../asetss/img/boxeo-recreativo.jpg);
    width:350px;
    height: 400px;
    background-position: center;
    background-size: cover;
}
.box-avanzado{
    background-image:linear-gradient(rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.452) ),  url(../asetss/img/boxeo-avanzado.jpg);
    width:250px;
    height: 350px;
    background-position: center;
    background-size: cover;
    margin: 40px;
}
.title-avanzado{
    font-size: 4.5rem;
    margin:10px 10px 0px;
    width: 90%;
    padding:20px 20px 0px;
    color:black;
}
.box-infantil{
    background-image: linear-gradient(rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.452) ), url(../asetss/img/boxeo-infantil\ \(1\).jpg);
    width:250px;
    height: 350px;
    background-position: center;
    background-size: cover;
    margin: 40px;
}
.box-funcional{
    background-image:linear-gradient(rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.452) ),  url(../asetss/img/funcional.png);
    width:250px;
    height: 350px;
    background-position: center;
    background-size: cover;
    margin: 40px;
}
.title-funcional{
    font-size: 4.5rem;
    width: 90%;
    color:black;
}
.text-blue{
    color:#060630;
}
.flyer-nosotros{
    background-color: #060630;
    width:100%;
    height: 40vh;
    margin: 40px 0px;

    .flyer-nosotros1{
        color:white;
        text-align: center;
        width:150px;
        margin:20px;
    .title-nosotros1{
        font-size: 1.5rem;
        letter-spacing: 1px;
        line-height: 30px;
        font-weight: 400;
        color:white;
        
    }}
}
.icon-flyer{
    font-size: 3rem;
    color:white;
    padding:20px;
}

.carousel-inner{
    width:600px;
    height: 60vh;

    .opinion{
        width: 550px;
        height: 250px;
        border: 1px solid #060630;
        border-radius: 20px;
        margin:50px;
        .p-opinion{
            letter-spacing: 1px;
            line-height: 30px;
            color:060630;
            font-size: 1rem;
            font-family: "Roboto", sans-serif;
            margin:20px;
            padding: 10px;
        }
        .nombre-opinion{
            color:#060630;
            letter-spacing: 1px;
            font-size: 1.5rem;
    }}
}